a:hover {
    text-decoration: none;
}

.bg-roxo {
    background-color: #7E459B;
}

nav a:hover {
    font-weight: 500;
}

span {
    font-weight: 500;
    
}

.imagem-carrosel {
    object-fit: cover;
    object-position: 0 40%;
    height: 65vh;
}

.redes-sociais span {
    color: black;
}

.redes-sociais i {
    color: #7E459B;
    font-size: 1.2rem;
}

.redes-sociais span:hover {
    font-weight: 500;
    color: #7E459B;
}

.tamanho-card{
    width: 18rem;
}

.imagem-cards{
    object-fit: cover;
    object-position: top;
    height: 40vh;
}

.imagem-modal{
    width: 100%;
}

.botao-card{
background-color: #7E459B;
border: none;
}

.botao-card:hover{
    background-color: #8a2be2;
}

.habilidades i{
    font-size: 2rem;
}